.add-experience{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px;
}
form{
   width: 40%;
    margin-top: 5%;
}
label{
    width: 18%;
    display: inline-block;

  
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
}
textarea{
    width: 100%;
}
input{
width: 50%;
    aspect-ratio: 8;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 1%;
 
    font-size: 1.2em;
    resize:none;
}
label.checkbox{
    width: 12%;
    font-size: 0.9em; 
    margin-left: 1%;
}

input.checkbox{
    width: 5%;
    aspect-ratio: 1;
    margin-bottom: 0;
}